.App {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.897);
}

.post_view {
  padding: 2em 0 2em 0;
  display: flex;
  justify-content: center;
  cursor: default;
}

.post_view .post {
  cursor: default;
  width: 70vw;
}
